body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Para evitar el desplazamiento durante la animación */
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff; /* Fondo blanco para la animación */
}

.loader {
    border: 16px solid #f3f3f3; /* Color claro del borde */
    border-top: 16px solid #3498db; /* Color del borde superior (animado) */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Animación de rotación */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none; /* Oculta el contenido principal por defecto */
}

#main-content {
    display: none; /* Oculta el contenido principal por defecto */
    padding: 20px;
}

.show {
    display: block; /* Muestra el contenido principal */
}

body.loaded #preloader {
    display: none; /* Oculta el preloader cuando la página está cargada */
}

body.loaded #main-content {
    display: block; /* Muestra el contenido principal cuando la página está cargada */
}
