* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body {
    font-family: Arial, sans-serif;
   
}

.branding {
    background-image: url("https://s3-alpha-sig.figma.com/img/cd89/71d7/e22a062e2e3579fa20622a99e8fe5b24?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F0QGWNDhfFSFpEFwbeeUAWf1b8Ic4mcUGTc4WYvna67b5oWoKZyO5Vva0QR8qLdP1ymy8mheQ6oVVMO9IYAGKAsiENd0z4wpBOqKYJr9ZmhGmeXCFLbmMSa-rt347uv2ghh0BgOQ4d4DCG5pBfFRs824nR4HejPTymSZTmaA4aozvMCy3vugX4uRWWjPRsVfm4-4cKdZo8AgXeWeLqsyJ6SgCO-s-L-6J27j2DYNk3Bs5SO1nkfmU1ppcfJO88IJk10x6dKmUnWY81~gHNmiTqDWFu52gfZ3iLZQl3MACyv~KA1gWLK7HToJyPraeGWeyYqGN3VgVOHNfkJwbhX-wA__");
    border-radius: 0% 0% 10% 10%;
    display: flex;
    align-items: flex-start;
}

.title {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    line-height: 85px;
    font-size: 2em;
    margin: 5em 0;
    min-width:min-content;
}

h1 {
    transition: .5s;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 1.5%;
    text-align:left;
    mask-image: linear-gradient(180deg, transparent 0%, rgb(255, 255, 255) 5%, transparent 20%);
    min-width:min-content;

}

.container div {
    white-space: nowrap;
    animation: scroll 20s ease infinite;
}


/*.container {
    margin-left: 1.5%;
    text-align:left;
    position: relative;
    animation-name: scroll;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode:both;

}*/



/*.container-hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 15%, rgb(255, 255, 255) 40%);
    width: 420px;
    height: 800px;
    margin-left: -410px;
    margin-top: -50px;
    
}*/

#layer1 {
    position: relative;
    z-index: 1;
}

#layer2 {
    position: relative;
    z-index: 1;
}


/*@keyframes scroll {
  0%   {top:0px;}
  25%  {top:-125px;}
  50%  {top:-250px;}
  75%  {top:-375px;}
  100% {top:-500px;}
}*/


@keyframes scroll {
    0%  {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-20%);
    }
    40% {
        transform: translateY(-40%);
    }
    60% {
        transform: translateY(-60%);
    }

    80% {
        transform: translateY(-80%);
    }

    100%    {
        transform: translateY(-100%);
    }


}

.navbar{
    position:fixed;

   top:0;

   width:100%;
}


.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(354deg, rgba(255,179,0,1) 0%, rgba(255,244,217,0) 40%, rgba(255,255,255,0) 60%, rgba(0,224,255,1) 100%);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.navbar li {
    display: flex;
    justify-content: center;

}

.navbar li a {
    display: flex;
    color: black;
    text-align: center;
    align-content: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
}

.navbar li a:hover {
    background-color: #7d7c7c90;
}