@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    font-family: Inter, sans-serif;
    color: white
}
body{
    background-color: #e0ad6f;

}
.navbar_custom{

    background: rgba(84, 83, 83, 0.347);

    backdrop-filter: blur(15px);
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 30px #000000ab;
    
}

.small_logo > img{
    width: 70px; 
}

.big_logo > img{
    width: 100%;
}
.big_logo{
    width: 40%;
}
.palabras{
    height: 40.5px;
    
}

.auto-type{
    height: 100%;
}
.auto-type_small{
    height: 100%;
}
.carrousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 30s infinite;
    z-index: -2;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

@keyframes slide-show {
    0%, 1% { opacity: 0; }
    6%, 25% { opacity: 1; }
    26%, 100% { opacity: 0; }
}

.slide-2 {
    animation-delay: 6s;
}

.slide-3 {
    animation-delay: 12s;
}

.slide-4 {
    animation-delay: 18s;
}

.slide-5 {
    animation-delay: 24s;
}


.mainCallout h1{
    text-shadow: 0px 5px 10px #000;
    font-weight: 600;
    font-size: 5vw;
}

.palabras h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    position: relative;
    z-index: 4;
}


.typed-cursor {
    display: none;
}

.tryCol h1{

    font-size: 6vw;
}


.black_gradient{
    width: 100vw;
    background-image:radial-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    position: absolute;
    
    height: 100vh;
    z-index: 0;

}

.small_carrousel {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    
}

.small_carrousel > .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -2;
}


.second_callout{
    position: relative;
    width: 100vw;
    height: 45vh;
    background-color: #075151;
}


.estado_ciudad {
    position: relative;
}
.estado_ciudad img{
    height: 100%;
}


.second_callout h3{
    font-size: 3.5vw;
}



.second_callout .container{
    position: absolute;
    height: 90%;
    padding: 4vw;
}

.googleTrash{
    position: relative;
    top: 70%;
    padding-left: 4vw;

}



/* SMALL */
.second_callout_small{
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: #075151;
}
.second_callout_small .container{
    position: absolute;
    height: 90%;
    padding: 4vw;
}
.second_callout_small h3{
    font-size: 3.5vw;
}


.googleTrash_small{
    position: relative;
    top: 70%;
    padding-left: 4vw;
}

.googleTrash_small h5{
    font-size: 3vw;
}