<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="navbarAdjusted">
  <nav class="navbar navbar-expand navbar-light bg-white rounded-4">

    <!-- Logo en navbar-->
    <a class="navbar-brand" href="#"> 
      <img src="/Branding/Logo BlacklogoblackCurs.png" id="logo" alt=""> 
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #00000000;" >
        <a class="navbar-brand" href="#"> <img src="/Branding/Logo BlacklogoblackCurs.png" id="logo" alt=""></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Página principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>

        </div>
      </nav>
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Principal</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Gastronomía</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Restaurantes</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link breadcrumbs__link--active">Café Cortés</a>
        </li>
      </ul>
      <div class="container"></div>
</body>
</html>