<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  
<div class="container-fluid position-absolute p-0">
  <div class="row">
    <div class="col-md-7 p-0 image_container">
      <div class="imageWrapper">
        <img src="/Imagenes/kaldi.jpg"  class="cover_image" alt="Kaldi Cafe Fachada">

      </div>
    </div>
    <div class="col-md-5 info-column">
      <ul class="keyWords">
        <li class="keyWord__item"><h1>Especialidad</h1></li>
        <li class="keyWord__item"><h1>Acogedor</h1></li>
        <li class="keyWord__item"><h1>Popular</h1></li>
        <li class="keyWord__item"><h1>Popular</h1></li>
      </ul>

    </div>
  </div>

</div>
<div class="upGradient">
  <img src="/Branding/blue white.png" width="1600vw" alt="">
</div>




      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Principal</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Gastronomía</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Restaurantes</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link breadcrumbs__link--active">Café Cortés</a>
        </li>
      </ul>
      <div class="container"></div>
</body>
</html>