@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter, sans-serif;
    flex-grow: 1;
    background: linear-gradient(180deg, #F99B66, #77DBE9);
    background-size: 100% 100%;

}

body.img{


}

.container {
    display: flex;
    height: 100%; 
}

.form-section {
    position: relative;
    margin-top: 4%;
    margin-left: 8.5%;
    height: 70%;
    width: 35%;
    padding: 20px;
    background:linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(224, 252, 255, 0.9));
    box-shadow: 4px 0 10px #00000029, 1px 0 100px #00000054;
    z-index: 1;
    border-radius: 20px;
    

}

.header {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
    z-index: 3;
    color: black;
    margin-top: 1%;
    box-shadow: 4px 0 50px #00000029, 1px 0 30px #00000054;
}

.h1-registrate {
    font-weight: 600;
    font-size: 32pt;
    margin-top: 10%;
    margin-left: 65px;
    color: black;
}

.input {
    font-size: 16pt;
    font-family: Inter, sans-serif;
    margin: 3%;
    height: px;
    width: 70%;
    border: none;
    padding: 1rem;
    padding-left: 50px;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.submit {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #F98866;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 70%;
    height: 60px;
    border-radius: 0.5rem;
    border-color: transparent;
    margin-top: 5%;
    margin-left: 17%;
    text-align: center;
}

.submit:hover {

    background: #ffd6a8;
    box-shadow: inset 20px 20px 60px #54b2ca, inset -20px -20px 60px #5dd0da;
    transition: 0.3s;
}

.signinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.signinForm input {
    margin-bottom: 20px;
    margin-left: 10%;
}

.logoHeader {
    height: 1.6rem;
    margin-left: 4%;
    margin-top: .5rem;
}

.cards-section{

}
