@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: Inter,sans-serif !important;
}
body{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
.headerText{
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-weight:500;
    font-size: 4.5vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
}
.cropImage{
    width: 100vw;
    height: 65vh;
    object-fit: cover;
    object-position: 50% 0%;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerText{
    width: 70vw;
}
.degradado{
    position: absolute;
    top:0%;
    left:0%;

    width:100%;
    height: 65vh;
    
}
.header-buttons{
    position:absolute;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_custom_button_link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.header_custom_buttons {
    width: 15vw;
    margin: 2vw;
    height: 6vh;
    background-color: whitesmoke;
    border-radius: 50px;
    align-items: center;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-weight: 500;
}
.header_custom_buttons:hover {
    background-color: #e0e0e0;
}
.header_custom_buttons:active {
    transform: scale(0.98);
}
.header_custom_buttons img {
    height: 2.4vh;
    margin-right: 1vw;
}


.logoAtFeed{
    height: 4vw;
    width: auto;
    margin: 3vh;
}



.customLink{
    text-decoration: none;
    color: black
}

.customLink:hover{
    text-decoration:underline;
    
}

.rotTriangle{
    transform: rotate(90deg);
}



.imageWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #3e2f2f;

}


.feed-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.container-slider {
    display: flex;
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 0.3vh;
    grid-template-columns: repeat(10, 1fr);

    margin: 1vw;
}

.container-slider::-webkit-scrollbar {
    position: relative;
    display: none;
}

.slide-button {
    position: relative;
    z-index: 2;
    height: 30px;
    width: 30px;
  
    color: white;
    outline: none;
    background-color: #e67200;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem; /* Tamaño base para el contenido del botón */
}

.slide-button#prev-slide {
    right: 1.5vw;
}

.slide-button#next-slide {
    left: 1.5vw;
}

.slide-button:hover {
    background-color: #a66829;
    transform: scale(1.1);
}

/* Media queries para responsividad */

/* Pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
    .slide-button {
        display: none;
        height: 2rem;
        width: 2rem;
        font-size: 0.8rem;
    }

    .slide-button#prev-slide {
        right: 0.5vw;
    }

    .slide-button#next-slide {
        left: 0.5vw;
    }
}

/* Pantallas medianas (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .slide-button {
        height: 2.25rem;
        width: 2.25rem;
        font-size: 0.9rem;
    }

    .slide-button#prev-slide {
        right: 1vw;
    }

    .slide-button#next-slide {
        left: 1vw;
    }
}

/* Pantallas grandes (desktops) */
@media screen and (min-width: 1200px) {
    .slide-button {
        width: 3vw;
        font-size: 1.2rem;
    }

    .slide-button#prev-slide {
        right: 2vw;
    }

    .slide-button#next-slide {
        left: 2vw;
    }
}

/* Pantallas extra grandes */
@media screen and (min-width: 1600px) {
    .slide-button {
        width: 5vw;
        height: 3vw;
        font-size: 2rem;
    }

    .slide-button#prev-slide {
        right: 2.5vw;
    }

    .slide-button#next-slide {
        left: 2.5vw;
    }
}

.slider-srollbar {
    height: 2.4vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}

.slider-srollbar .scrollbar-track {
    position: relative;
    height: 0.4vh;
    width: 100%;
    border-radius: 0.4vw;
    background: white;
    margin: 0 5%;
}

.slider-srollbar:hover .scrollbar-track {
    height: 0.4vh;
}

.slider-srollbar .scrollbar-track:active {
    cursor: grabbing;
    height: 0.8vh;
    top: -0.2vh;
}

.slider-srollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: inherit;
    background-color: #e67200;
    cursor: grab;
    transition: width 0.2s, height 0.2s;
}

.slider-srollbar .scrollbar-thumb:active{
    cursor: grabbing;
}

.slider-srollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.1vh;
    bottom: -0.1vh;
}

.slider-srollbar .scrollbar-track:hover .scrollbar-thumb {
    height: 0.6vh;
    width: 12%;
}

.card-list {
    display: flex;
    flex-direction: row;
}

.card-list .card-item{
    width: 28vw;
    aspect-ratio: 3 / 4;
    max-height: 150vh;
    max-width: auto;
    margin: 1%;
}

.card-list .card-item .local-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vh;
}

.card-item{
    position: relative;
}

.card-item .card-info{
    position: absolute;
    bottom: 0;
    left: 0;   
    padding: 10%;
    transition: 0.5s ease-in-out;
}

.gradient-card{
    width: 100%;
    height: 45%;
    position: absolute;
    top: 55%;
    border-radius: 2vh;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.31);
    transition: 0.5s ease-in-out;
}

.card-item:hover .gradient-card {
    cursor: pointer;
    height: 100%;
    top: 0%;
    transition: 0.5s ease-in-out;
}

.card-item:hover .card-info {
    position: absolute;
    cursor: pointer;
    bottom: 40%;
    left: 0;   
    padding: 10%;
    transition: 0.5s ease-in-out;
}

.g-orange{
    background: linear-gradient(0deg,#FFB967, #67fff000 );

}

.g-blue{
    background: linear-gradient(0deg,#67fff0, #67fff000 );

}

.g-orange2{
    background: linear-gradient(0deg,#c8803d, #67fff000 );
}

.g-red{
    background: linear-gradient(0deg,#8d1e1a, #67fff000 );
}

.g-purple{
    background: linear-gradient(0deg,#737dcd, #67fff000 );
}

.local-description span{
    color: rgb(255, 249, 235);
    
}

.card-info .local-name{
    font-size: 1.8vw;
    padding: .5vw 2vw 0.5vw 2vw;
    background-color: whitesmoke;
    border-radius: 2vh;
}

.card-info .local-description {
    font-size: 1.8vw;
}

.contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-container {
    max-width: 90vw;
    background: linear-gradient(to bottom, #e6f2ff 0%, #ffe6e6 100%);
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0 0.4vh 0.6vw rgba(0,0,0,0.1);
    font-size: 1rem;
    margin-top: 2%;
}

.pestania-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 2vh;
    background: transparent;
    position: relative;
    z-index: 2;
}

.menu-desplegable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    background: transparent;
    position: relative;
    z-index: 1;
}

.menu-desplegable.active {
    max-height: 500px;
    
}

.menu-desplegable form {
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
}

.seccion {
    flex: 1;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion h5 {
    display: flex;
    margin-bottom: 1.5vh;
    font-weight: bold;
    font-size: 2.2vh;
    color: black;
    align-self: baseline;
}

.seccion label {
    display: flex;
    margin-bottom: 10px;
    align-self:baseline;
    margin-left: 35%;
}

.menu-desplegable input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    transition: 0.2s ease-in-out;
    flex-shrink: 0; /* Evitamos que el radio se encoja */
}

.menu-desplegable input[type="radio"]:checked {
    background-color: #FFA500;
    border-color: #FFA500;
}

.menu-desplegable input[type="radio"]:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

/* Estilos para el botón de "Elige un plan" */
.customLink {
    text-decoration: none;
    color: inherit;
}

.rotTriangle {
    transition: transform 0.3s ease;
}

.rotTriangle.active {
    transform: rotate(180deg);
}

/* Media queries */
@media screen and (max-width: 768px) {
    .menu-desplegable form {
        flex-direction: column;
    }

    .seccion {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .seccion label {
        margin-left:0;
    }

    .seccion{
        flex-direction: column;
        align-items: baseline;
        justify-content:baseline;
    }

    .menu-desplegable form {
        font-size: 1.2vh;
    }

    .seccion h5 {
        font-size: 1.8vh;
    }
}

@media screen and (max-width: 576px) {
    .pestania-filtros {
        flex-direction: column;
        align-items: flex-start;
        margin:0;
    }

    .seccion label {
        margin-left:0;
    }

    .seccion{
        flex-direction: column;
        align-items: baseline;
        justify-content:baseline;
    }

    .menu-desplegable form {
        font-size: 1.2vh;
    }

    .seccion h5 {
        font-size: 1.6vh;
    }
}

.menu-desplegable button {
    margin: 1%;
}


.lugares-filtrados {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5vw 2vh;
    background: transparent;
    position: relative;
    z-index: 2;
}

.tarjeta-lugar {
    width: 25%;
    margin: 1%;
    border-radius: 2vh;
    box-shadow: 0 0.4vh 0.6vw rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border: 2px solid;
}