* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Oxygen';
    border-radius: 0% 0% 10% 10%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.carrousel {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    mask-image: linear-gradient(180deg, rgb(255, 255, 255) 90%, transparent 100%);
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 30s infinite;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0%, 1% { opacity: 0; }
    6%, 25% { opacity: 1; }
    26%, 100% { opacity: 0; }
}

.slide-2 {
    animation-delay: 6s;
}

.slide-3 {
    animation-delay: 12s;
}

.slide-4 {
    animation-delay: 18s;
}

.slide-5 {
    animation-delay: 24s;
}

.title-container {
    display: flex;
    z-index: 1;
}

.title {
    position: absolute;
    top: 25%;
    text-shadow: 0px 4px 10px rgba(249, 136, 102, 0.5);
    color: white;
}


.textoSlider {
    transition: .5s;
    color: white;
}

.textoSlider a{
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 3%;
    text-align:left;
    mask-image: linear-gradient(180deg, transparent 0%, rgb(255, 255, 255) 5%, transparent 20%);
    min-width:min-content;

}

.container div {
    white-space: nowrap;
    animation: scroll 30s ease infinite;
    animation-delay: 2s;
}

.containerGradient{
    border: 0px solid white;
    border-radius: 20px;
    height: 90px;
    background-color: rgb(255, 255, 255, 0.3);
    position: relative;
    backdrop-filter: blur(2px);
}


@keyframes scroll {
    0%  {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-20%);
    }
    40% {
        transform: translateY(-40%);
    }
    60% {
        transform: translateY(-60%);
    }

    80% {
        transform: translateY(-80%);
    }
    100%    {
        transform: translateY(-100%);
    }
}

.logo-for-movil {
    position:relative;
    display: none;
}

.post-title {
    text-align: center;
    margin-top: -7vh;
}

.post-title p {
    margin-top: 1%;
    font-size: 1.1em;
    font-style: italic;
}

.pre-landing {
    display: flex;
    flex-direction: row;
    padding: 5% 10% 10% 10%;
}

.pre-landing img {
    width: 40%;
    margin: 0% 5% 0% 0%;
}



.pre-landing div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.pre-landing .btn {
    margin: 4% auto;
    background-color: #FFA07A;
    border: none;
    color: black;
    padding: 2vh 5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh; /* Usar vh para que el tamaño de fuente sea responsivo */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0);
    width: 50%; /* Usar porcentaje para que el ancho sea responsivo */
    white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
    overflow: hidden; /* Ocultar cualquier texto que desborde el botón */
    text-overflow: ellipsis; /* Agregar puntos suspensivos al texto que desborde */
}

/* Para pantallas más grandes */
@media (min-width: 1200px) {
    .pre-landing .btn {
        padding: 2vh 10vh;
        width: 55%;
    }
}

/* Para pantallas medianas */
@media (min-width: 797px) and (max-width: 1199px) {
    .pre-landing .btn {
        padding: 2vh 8vh;
        width: 55%;
    }

    .post-title {
        text-align: center;
        margin-top: -10%;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 797px) {
    .pre-landing .btn {
        padding: 2vh 5vh;
        width: 55%;
    }
    .pre-landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .title-container {
        display: none;
    }

    .logo-for-movil {
        position: absolute;
        top: 25%;
        display: flex;
        width: 65%;
    }

    .post-title {
        text-align: center;
        margin-top: -15%;
    }

}

/* Para pantallas muy pequeñas */
@media (max-width: 575px) {
    .carrousel {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        mask-image: linear-gradient(180deg, rgb(255, 255, 255) 95%, transparent 100%);
    }

    .pre-landing .btn {
        padding: 2vh 3vh;
        font-size: 1.8vh; /* Ajustar tamaño de fuente */
        width: 55%;
    }

    .pre-landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .title-container {
        display: none;
    }

    .logo-for-movil {
        position: absolute;
        top: 25%;
        display: flex;
        width: 80%;
    }
    
    .post-title {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: -85vh;
        color: white;
    }
    
    .post-title p {
        margin-top: 1%;
        font-size: 1.3em;
        font-style: italic;
    }
}

.pre-landing img{
    border-radius: 15%;
    margin: 3%;
}

.navbar-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    z-index: 1000;
  }
  
  .navbar {
    background: rgba(203, 145, 83, 0.347);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
  }
  .navbar li {
    padding: 0vh 2vh;;
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
  }  
  .navbar-toggler {
    border: none;
    color: #ffffff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  @media (max-width: 991px) {
    .navbar-collapse {
      background: rgba(203, 145, 83, 0.9);
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }
  }

  .navbar img {
    max-width: 300px;
}

.navbar-logo-large {
    display: block;
}

.navbar-logo-small {
    display: none;
}

@media (max-width: 700px) {
    .navbar-logo-large {
        display: none;
    }

    .navbar-logo-small {
        display: block;
        width: 10vw;
        max-width: 80vw;
        max-height: 10vw;
    }
}
